@import "tailwindcss";

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  --angle: 45deg;
  background: linear-gradient(
    var(--angle),
    oklab(51.8% -0.004 -0.125),
    oklab(35.9% -0.002 -0.08),
    oklab(25.8% -0.011 -0.059),
    oklab(16.3% -0.001 -0.033) /*Nekem ez tetszik, majd megbeszéljük!*/
  ); /*Majd még kell egy szín az oldalnak... Valami színpallettát nézni kell*/

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --clr-winter-night-a0: oklab(51.8% -0.004 -0.125);
  --clr-winter-night-a10: oklab(35.9% -0.002 -0.08);
  --clr-winter-night-a20: oklab(25.8% -0.011 -0.059);
  --clr-winter-night-a30: oklab(16.3% -0.001 -0.033);
}

a {
  font-weight: 500;
  text-decoration: inherit;
}
a:hover {
  color: #24bdd8;
}
.a2 {
  font-weight: 500 !important;
  color: #37c0d8 !important;
  text-decoration: inherit !important;
}
.a2:hover {
  font-size: larger !important;
  color: #24bdd8 !important;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
}
